.medium-editor-placeholder:after {
  content: attr(data-placeholder) !important;
  font-style: normal !important;
  position: absolute;
  left: -50px !important;
  top: 0;
  white-space: pre;
  padding: inherit;
  margin: inherit;
}
